/* color palette from https://www.color-hex.com/color-palettes */
:root {
  --darkest-color: #854442;
  --lightest-color: #fff4e6;
  --highlight-color: #ffffff;
  --bright-color-1: #fff4e6;
  --bright-color-2: #fff4e6;
  --bright-color-3: #fff4e6;
  --bright-color-4: #4b3832;
}

body {
  background: var(--darkest-color);
  color: var(--lightest-color);
  font-family: 'Lato', sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circle-shape {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--lightest-color);
  margin: 0 auto;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

a {
  color: var(--lightest-color);
  text-decoration: none;
}

.ig-link {
  margin: 10px 0;
  font-weight: bold;
}

.link-list-item {
  border: 1px solid var(--lightest-color);
  box-sizing: border-box;
  margin: 20px auto;
  color: var(--darkest-color);
  padding: 15px;
  text-align: center;
  transition: all 0.15s;
  border-radius: 2px;
}

.link-list-item-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.highlighted,
.link-list-item:hover,
a:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  text-shadow: 0 0 2em var(--highlight-color);
}

.icon-list-img {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.dark {
  background: var(--bright-color-1);
}

.medium {
  background: var(--bright-color-2);
}

.light {
  background: var(--bright-color-3);
}

.bright {
  background: var(--bright-color-4);
}





/* Footer */

  #footer {
    min-height: 60vh;
    padding: 0 0 12em 0;
    position: relative;
    text-align: center;
  }

    #footer .container {
      padding: 5em 2.5em 3em 2.5em ;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: inset 0 1px 0 0 #dddddd;
    }

    #footer footer {
      bottom: 2em;
      color: rgba(255, 255, 255, 0.5);
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }

      #footer footer h1, #footer footer h2, #footer footer h3, #footer footer h4, #footer footer h5, #footer footer h6, #footer footer strong, #footer footer b {
        color: #ffffff;
      }

      #footer footer a {
        color: inherit;
      }

        #footer footer a:hover {
          color: #ffffff !important;
        }

        #footer footer ul > li {
            display: inline-block;
            zoom:1;
            /*margins between icons*/
            margin-left: 20px;
            margin-right: 20px;
            display:inline;
            /* this fix is needed for IE7- */
        }

      #footer footer .copyright {
        font-size: 0.8em;
        line-height: 1em;
        padding: 0;
      }

        #footer footer .copyright li {
          border-left: solid 1px rgba(255, 255, 255, 0.2);
          display: inline-block;
          margin: 0 0 0 1em;
          padding: 0 0 0 1em;
        }

          #footer footer .copyright li:first-child {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
          }

/* Large */

  @media screen and (max-width: 1680px) {

    /* Basic */

      body, input, select, textarea {
        font-size: 12pt;
      }

  }

/* Medium */

  @media screen and (max-width: 980px) {

    /* Main BG */

      .main-bg {
        display: none;
      }

    /* Main */

      .main .image.primary {
        display: block;
        margin: 0 0 4em 0;
      }
      
      .main .spoticontainer {
        padding: 3em 3em 8em 3em ;
      }

      .main .container {
        padding: 3em 3em 8em 3em ;
      }

        .main .container:before {
          display: none;
        }

    /* Header */

      #header header {
        padding-bottom: 9em;
        width: 80%;
      }

      #header .container {
        margin-left: -40%;
        padding: 3em;
      }
      
      #spoheader spoheader {
                padding-bottom: 9em;
        width: 80%;
            }

    /* Footer */

      #footer {
        min-height: 0;
        padding: 0;
      }

        #footer .container {
          padding: 3em 3em 1em 3em ;
        }

        #footer footer {
          padding: 3em 3em 1em 3em ;
          bottom: auto;
          position: relative;
        }

  }

/* Small */

  @media screen and (max-width: 736px) {

    /* Basic */

      h2 {
        font-size: 1.35em;
      }

    /* Main */

            .main .spoticontainer {
        padding: 3em 1.5em 1em 1.5em ;
      }
      
      .main .container {
        padding: 3em 1.5em 1em 1.5em ;
      }
      
        .main .container .image.primary:first-child {
          margin: -1.5em 0 2.5em 0;
        }

      .main .goto-next {
        display: none;
      }

    /* Header */

      #header {
        height: 80vh;
      }

        #header:after {
          height: 80vh;
        }

        #spoheader spoheader {
                    padding-bottom: 0;
                }
        
        #header header {
          padding-bottom: 0;
        }
        
          #header header h1 {
            font-size: 2em;
          }

          #header header p {
            margin-top: 1em;
          }

        #header .container {
          display: none;
        }

    /* Footer */

      #footer .container {
        padding: 3em 1.5em 1em 1.5em ;
      }

  }

/* XSmall */

  @media screen and (max-width: 480px) {

    /* Basic */

      html, body {
        min-width: 320px;
      }

    /* List */

      ul.actions {
        margin: 0 0 2em 0;
      }

        ul.actions li {
          display: block;
          padding: 1em 0 0 0;
          text-align: center;
          width: 100%;
        }

          ul.actions li:first-child {
            padding-top: 0;
          }

          ul.actions li > * {
            margin: 0 !important;
            width: 100%;
          }

        ul.actions.small li {
          padding: 0.5em 0 0 0;
        }

          ul.actions.small li:first-child {
            padding-top: 0;
          }

      ul.icons-grid li {
        box-shadow: inset 0 1px 0 0 #dddddd !important;
        float: none;
        margin: 2em 0 0 0;
        padding: 2em 0 0 0;
        width: 100%;
      }

        ul.icons-grid li:first-child {
          box-shadow: none !important;
          margin-top: 0;
          padding: 1em 0 0 0;
        }

        ul.icons-grid li:nth-child(2n + 1) {
          box-shadow: none;
        }

        ul.icons-grid li:nth-child(2n + 3):before {
          display: none;
        }

    /* Button */

      input[type="submit"],
      input[type="reset"],
      input[type="button"],
      button,
      .button {
        padding: 0;
      }

        input[type="submit"].icon,
        input[type="reset"].icon,
        input[type="button"].icon,
        button.icon,
        .button.icon {
          padding-left: 0;
        }

    /* Main */

            .main .spoticontainer {
        padding: 3em 1em 1em 1em ;
      }
      
      .main .container {
        padding: 3em 1em 1em 1em ;
      }

        .main .container .image.primary:first-child {
          margin: -2em 0 2.5em 0;
        }

    /* Footer */

      #footer .container {
        padding: 3em 1em 1em 1em ;
      }

      #footer footer .copyright {
        line-height: inherit;
      }

        #footer footer .copyright li {
          border-left: 0;
          display: block;
          margin: 0;
          padding: 0;
        }

  }
